{% load static %}
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>首页-Ericamblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ericam_">

    <!-- CSS -->
	<link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %}">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/welcome.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css'%}" media="screen" >
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	<link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>

<body class="back" style="background-color: #FEE451;">
  <script src = "E:/bootstrap/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
  <!--导航栏-->
		<div class="container">
			<div class="container-fluid">

				  <!-- <a class="navbar-brand logo1" style="background-blend-mode:multiply;"><img src="{%static 'images/logo.png'%}" alt="Progressus HTML5 template" style="position: absolute;"></a> -->
			


    </div>
	</div>
</div>


    <div class="container" style="padding-top:100px;min-height:800px">
		<!-- <div class="info" col-md-5>
			<img src="{%static 'images/first1.jpg'%}" alt="" style="width:550px; height:200px; position: relative;">
		</div> -->
		<!-- <div class="info" col-md-5-offset>
			<img src="{%static 'images/first2.jpg'%}" alt="" style="width: 550px; height:200px; position: relative;
			">
		</div> -->
		<br>
		<br>

		<br>

      <div class="row" style="position: center; ">
        <p class="lead" style="color: white; text-align: center;margin-bottom: 0px; font-size: 100px;" >S e a s o n 3</p>
		
        <p class="lead" style="color: white; text-align: center;"><a class="btn btn-action btn-lg" role="button" href='http://127.0.0.1:8000/web/' style="color: white; font-size: 50px;">START NOW</a></p>
      </div>
	  <!-- <div class="info">
		<img src="{%static 'images/first3.jpg'%}" alt="" style="width:550px; height:200px; position: relative;">
	</div> -->
	<!-- <div class="info">
		<img src="{%static 'images/first4.jpg'%}" alt="" style="width: 550px; height:200px; position: relative;
		">
	</div> -->
    </div>



</body>
</html>
