.context{
    height: 100%;
    background-image: url("../images/vip_back.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    
}
.vip-title{
    padding:15px 0px;
    font-size:39px;
    color:#563117;
    margin-bottom:10px;
    margin-top:10px;
}
.vip-vise-title{
    padding:15px 0px;
    font-size:14px;
    color:#563117;
    margin-bottom:10px;
    margin-top:10px;
    text-align:center;
}
.vip-details{
    line-height:30px;
    text-align: center;
 

}
.context{
    margin-left:220px;
    text-align:center;
    margin-top: 7%;
    overflow: hidden;

}

.qrimg{
    max-width: 170px;
}


body{
    background-image: url("../images/vip_back.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    
}
.vip-head{
    margin-left: 220px;
}